@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', 'Inter', ui-sans-serif, system-ui;
}


body {
  background-color: #f8fafc; /* Very light slate gray */
  color: #1e293b; /* Slate 800 */
}